.logoimagecard {
    
        width: 60px;
        height: 60px;
        background-size:  cover;
        border-radius: 30px;
        opacity: 1;
        cursor:help;
        box-sizing: border-box;
        
   
}

.generalcard{
    height: 120px;
}

.logotext {
    color: white;
    
}

