/* .portfoliodark {
    background-color: rgba(0, 0, 0, 0.726);
    width: 500px;
    height: auto;
    border-radius: 40px;
    align-items: center;
} */
.portfoliodark {
    /* color: rgb(199, 147, 3); */
    color: white;
    position: relative;
    left: 25%;
}

.portfoliospacemaker{
    width: 100px;
    height: 100px;
}

.generalportfolio {
    background-image: url('./Pics/deco1.jpg');
    background-color: blueviolet;
    background-repeat: repeat;
    width:100%;
    height: 100%;
    text-align: center;
   
    flex-direction: column;
  
}