.topbardiv {
    width: 100%;
}

.lowbardiv {
    width: 100%;
    bottom: 0px;
    position: absolute;
    
}

.contactdata{
    color: rgb(199, 147, 3);
    font-size: 20px;
}

.carddivcontact{
    display: flex;
    align-items: flex-start;
}
.generalcontact {
   
    position:relative;
   left: 42%;
   top: 5%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.726);
    color: rgb(199, 147, 3);
    /* background-color: rgba(207, 159, 1, 0.726); */
    width: 350px;
    height: auto;
    border-radius: 40px;
    
    font-family:'Courier New', Courier, monospace;
}

@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    .generalcontact {
      left: 5%;
      float: left;
    }
    .carddivcontact{
        width: 100%;
        float: left;
    }
    .glb2 {
     /*    background-color: rgb(248, 2, 2); */
        visibility: hidden;
        display: none;
    }
  }
  .xgeneralcontactmainx{
    background-image: url('./Pics/dubai2.jpg');
    background-size:  cover;
    /* background-color: brown; */
    height: 1200px;

  }
  /* @media only screen and (orientation: landscape) {
    .xgeneralcontactmainx{
        background-color: blue;
        /* background-image: none; */
        /* height: 150vh; */
    /* } */
/* } */ 
.generalcontactmain{
    /* background-image: url('./Pics/dubai2.jpg'); */
    /* background-color: brown; */
    background-repeat: no-repeat ;
    background-size:  cover;
    background-repeat: repeat;
    background-position:center center;
    width:100%;
    height: 100vh;
    /* box-sizing:border-box; */
    /* position: center; */
    text-align: center;
    /* display:flex; */
    flex-direction: column;
    /* align-items:flex-start; */
}



.listlanding {
   
    display:list-item;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.726);
    /* background-color: rgba(207, 159, 1, 0.726); */
    width: 350px;
    height: auto;
    border-radius: 40px;
    font-family:'Courier New', Courier, monospace;
}

/* html, body {
    margin:0;
    height:100%;
    overflow:hidden
  } */
  .buttonlanding {
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 12px;
    border: 2px solid white;
    /* color: rgb(105, 103, 103); */
    color: rgb(199, 147, 3);
    text-align: center;
    height: 32px;
    width: 130px;
    font-size: medium;
  }
  .buttonlanding:hover {
    background-color: white;
    color: rgb(199, 147, 3);
    height: 36px;
    width: 149px;
}
.titlelanding {
    color: rgb(199, 147, 3);
}